*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(#f38282, #ab66cf);
    color: #fff;
}
.content-container {
    padding-top: 70px;
}

.logo {
    width: 50px;
    height: auto;
}
.appMenu {
    display: flex;
    gap: 20px;
}
.appMenuListItem {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}
.appMenuListItem:hover {
    color: rgb(183, 89, 183);
}
.appMenuBtn {
    background-color: rgb(183, 89, 183); 
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.appMenuBtn:hover {
    background-color: purple;
}

.about-me-card {
    max-width: 90%;
    margin: 19px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.about-me-card h2 {
    color: #333;
}
.about-me-card p {
    color: #555;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    margin-right: 10px;
}
.social-icons a:hover {
    color: purple;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    margin: 19px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

&:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
&.expanded {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.project-header {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

h3 {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}
.project-details {
    padding: 1rem;
    margin-top: 15px;
    p {
        margin-bottom: 0.5rem;
    }
    ul {
        list-style: none;
        padding: 0;
        
        li {
            margin-bottom: 0.3rem;
        }
    }
}

.skills-card {
    max-width: 90%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills-list {
    justify-content: space-between;
    ul {
        list-style-type: none;
    li {
        margin-bottom: 8px;
        font-size: 16px;
    }
    }
}

h2 {
    text-align: center;
}